# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Secret settings and environment files
.env
.env.*  # como .env.dev o .env.production

# Media
/media
/media/*

# Static files
/static
/staticfiles
/static_root

# VS Code and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test coverage
htmlcov/
.coverage
.tox/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pip-tools
*.txt~  # temp pip freeze files

# Build system
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt

# Virtualenv
venv/
env/
ENV/
.venv/
.venv.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat.pid

# Gunicorn
gunicorn.pid

# Docker
*.pid
*.tar
*.db
docker-compose.override.yml
